.hero-container {
  padding-bottom: 15rem;
  background: #f5f5f5;
}

.text-container {
  text-align: left;
  padding-top: 10rem;
  padding-left: 6rem;
}

.text-container h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 7.0rem;
  line-height: 8rem;
  letter-spacing: 0.015em;
  color: #000000;
}

.text-container p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: #000000;
  opacity: 0.7;
}

.img-container {
  position: relative;
}

.hero-container img {
  position: absolute;
  top: -8rem;
  right: 0;
  width: 70rem;
}

@media (max-width: 992px) {
  .text-container {
    padding-top: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .hero-container img {
    position: absolute;
    top: 40rem;
    right: 0;
    width: 40rem;
  }
  .text-container h1 {
    font-size: 5.0rem;
    line-height: 5.6rem;
    letter-spacing: 0.015em;
  }
  body {
    background-color: #f5f5f5;
  }
}