.feed_container {
  background-color: #d3d6d5;
  padding: 0rem 4rem 0;
}

.feed_container main {
  column-gap: 5rem;
}

.side_wrapper {
  width: 25%;
  height: 90vh;
  overflow-y: auto;
  max-width: 25rem;
}

.feed_wrapper {
  padding-top: 2rem;
  padding-left: 4rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
.main_wrapper {
  width: 100%;
  max-width: calc(100% - 25rem);
  background-color: #fff;
}
